body {
    background: black;
    color: #00ff00;
    font-family: monospace;
    text-align: center;
}

button, input {
    background: black;
    color: #00ff00;
    border: 1px solid #00ff00;
    padding: 10px;
}
